#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.card {
    padding: 2em;
    font-size: 2rem;
}
input {
    font-size: 2rem;
    width: 3ch;
    padding: 4px;
}
.read-the-docs {
    color: #888;
}
